		html,body
		{
			height:100%
		}
		html
		{
			overflow-y:auto
		}
		#wrapper
		{
			position:relative;
			_position:;min-height:100%
		}
		#content
		{	
			padding-bottom:100px;
			text-align:center
		}
		#ftCon
		{
			height:100px;
			position:absolute;
			bottom:44px;
			text-align:center;
			width:100%;
			margin:0 auto;
			z-index:0;
			overflow:hidden
		}
		#ftConw
		{
			width:720px;margin:0 auto
		}
		body	
		{
			font:12px arial;
			text-align:;
			background:#fff
		}
		body,p,form,ul,li
		{
			margin:0;
			padding:0;
			list-style:none
		}
		body,form,#fm
		{
			position:relative
		}
		td
		{
			text-align:left
		}
		img
		{
			border:0
		}
		a
		{
			color:#00c
		}
		a:active
		{
			color:#f60
		}
		.bg{
			background-image:url(img/icons_94229277.png);
			background-repeat:no-repeat;
			_background-image:url(http://s1.bdstatic.com/r/www/cache/static/global/img/icons_be12c34a.gif)}
			
		#u1{
			color:#999;padding:4px 10px 5px 0;
			text-align:right}
		#u1 a
		{
			margin:0 5px
		}
		#u1 .reg
		{
			margin:0
		}
		#m
		{
			width:720px;
			margin:0 auto
		}
		#nv a,#nv b,.btn,#lk
		{
			font-size:14px
		}
		#fm
		{
			padding-left:110px;
			text-align:left;
			z-index:1
		}
		input
		{
			border:0;
			padding:0
		}
		#nv
		{
			height:19px;
			font-size:16px;
			margin:0 0 4px;
			text-align:left;
			text-indent:137px
		}
		.s_ipt_wr
		{
			width:418px;
			height:30px;
			display:inline-block;
			margin-right:5px;
			background-position:0 -96px;
			border:1px solid #b6b6b6;
			border-color:#9a9a9a #cdcdcd #cdcdcd #9a9a9a;
			vertical-align:top
		}
		.s_ipt
		{
			width:405px;
			height:22px;
			font:16px/22px arial;
			margin:5px 0 0 7px;
			background:#fff;
			outline:0;
			-webkit-appearance:none
		}
		.s_btn
		{
			width:95px;
			height:32px;
			padding-top:2px\9;
			font-size:14px;
			background-color:#ddd;
			background-position:0 -48px;
			cursor:pointer
		}
		.s_btn_h
		{
			background-position:-240px -48px
		}
		.s_btn_wr
		{
			width:97px;
			height:34px;
			display:inline-block;
			background-position:-120px -48px;
			*position:relative;
			z-index:0;
			vertical-align:top
		}
		#lg img
		{
			vertical-align:top;
			margin-bottom:3px
		}
		#lk
		{
			margin:33px 0
		}
		#lk span
		{
			font:14px "ו"
		}
		#lm
		{
			height:60px;line-height:15px
		}
		#lh
		{
			margin:16px 0 5px;
			word-spacing:3px
		}
		.tools
		{
			position:absolute;
			top:-4px;
			*top:10px;
			right:7px
		}
		#mHolder1
		{
			width:62px;
			position:relative;
			z-index:296;
			display:none
		}
		#mCon1
		{
			height:18px;
			line-height:18px;
			position:absolute;
			cursor:pointer
		}			
		#mCon1 span
		{
			color:#00c;
			cursor:default;
			display:block;
			width:24px
		}
		#mCon1 .hw
		{
			text-decoration:underline;
			cursor:pointer;
			display:inline-block
		}
		#mCon1 .pinyin
		{
			display:inline-block
		}
		#mCon1 .c-icon-chevron-unfold2
		{
			margin-left:5px
		}
		#mMenu1 a
		{
			width:100%;
			height:100%;
			display:block;
			line-height:22px;
			text-indent:6px;
			text-decoration:none;
			filter:none\9
		}
		#mMenu1,#user1 ul
		{
			box-shadow:1px 1px 2px #ccc;
			-moz-box-shadow:1px 1px 2px #ccc;
			-webkit-box-shadow:1px 1px 2px #ccc;
			filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color="#cccccc")\9
		}
		#mMenu1
		{
			width:56px;
			border:1px solid #9b9b9b;list-style:none;position:absolute;
			right:27px;top:28px;display:none;background:#fff
		}
		#mMenu1 a:hover
		{
			background:#ebebeb
		}
		#mMenu1 .ln
		{
			height:1px;background:#ebebeb;
			overflow:hidden;font-size:1px;line-height:1px;margin-top:-1px
		}
		#cp,#cp a
		{
			color:#666
		}
		#u1 .last
		{
			margin-right:0
		}
		#u1 .un
		{
			font-weight:bold;
			margin-right:5px
		}
		#u1 ul
		{
			width:100%;
			background:#fff;
			border:1px solid #9b9b9b
		}
		#u1 li
		{
			height:25px
		}
		#u1 li a
		{
			width:100%;
			height:25px;
			line-height:25px;
			display:block;
			text-align:left;
			text-decoration:none;
			text-indent:6px;
			margin:0;filter:none\9
		}
		#u1 li a:hover
		{
			background:#ebebeb
		}
		#u1 li.nl
		{
			border-top:1px solid #ebebeb
		}
		#user_center1
		{
			position:relative;
			display:inline-block
		}			
		#user_center1 .user_center_btn
		{
			margin-right:5px
		}
		.userMenu
		{
			width:64px;
			position:absolute;
			right:7px;
			_right:2px;
			top:15px;
			top:14px\9;
			*top:15px;
			padding-top:4px;
			display:none;
			*background:#fff
		}
		#user1
		{
			position:relative;
			display:inline-block
		}
		#head
		{
			display:none
		}
		#c-tips-container
		{
			display:none
		}
		#content
		{
			display:none
		}
		#ftCon
		{
			display:none
		}
		#u
		{
			display:none
		}